.numeros {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 200px;
}
.numeros > * {
  flex: 1;
  border: 1px solid #000;
  border-right: none;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.numeros > :hover {
  background-color: #ccc;
}
.numeros > :last-child {
  border-right: 1px solid #000;
}
